html{
	height: 1080;
	width: 1920;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	
}
body{
	background: url(illustrationbg.jpg) no-repeat;
  background-size: 100%;
}

@font-face{
	font-family: "Sukhumvit Set";
	font-style: normal;
	src:url(../Downloads/SukhumvitSet-Thin.ttf)
}
nav ul li{
	color: white;
	font-family: "Sukhumvit Set";
	list-style-type: none;
	display: inline-block;
	font-size: 25px;
	padding: 10px;
	
}
.nav{
	position: absolute;
	top:420px;
	left: 75px;
}
.nav a{
	color: white;
}