@font-face {
    font-family: 'Roboto Mono'; monospace;
    font-style: normal;
    font-weight: 700;
    src: local('RobotoMono Bold'), local('RobotoMono-Bold'), url(../fonts/RobotoMono-Bold.ttf) format('truetype');
}
@font-face {
    font-family: 'Roboto Mono'; monospace;
    font-style: lighter;
    font-weight: 300;
    src: local('RobotoMono Light'), local('RobotoMono-Light'), url(../fonts/RobotoMono-Light.ttf) format('truetype');
}
@font-face {
    font-family: 'Roboto Mono'; monospace;
    font-style: normal;
    font-weight: 400;
    src: local('RobotoMono Regular'), local('RobotoMono-Regular'), url(../fonts/RobotoMono-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'Anton'; sans-serif;
    font-style: normal;
    font-weight: 400;
    src: local('Anton Regular'), local('Anton-Regular'), url(../fonts/Anton-Regular.ttf) format('truetype');
}
   .container{
      width:1280px;
      margin: auto;
      position: relative;
   }
header{
   height:700px;
   background-color: #aeaeae;
   padding-top: 25px;
}
header img{
   position: absolute;
   height: 700px;
   left: 100px;
}
h1{
   position:absolute;
   color: white;
   font-family: 'Anton', sans-serif;
   font-size:72px;
   font-weight: normal;
   top:635px;
   left: 245px;
}
h2{
   position:absolute;
   top:220px;
   left:550px;
   color: #222;
   font-family: 'Roboto Mono', monospace;
   font-weight: 300;
   font-size:34px;
   font-weight: 100;
   letter-spacing: 6px;
}
nav{
   position: absolute;
   right: 0px;
   text-align: right;
   height: 200px;
}
nav ul li{
   padding-top: 10px;
   font-family: 'Anton',sans-serif;
   font-size: 24px;
   color: #dbdbdb;
   letter-spacing: 3px;
}
section p{
   display: inline-block;
   width:280px;
   font-family: 'Roboto Mono', monospace;;
   font-size: 14px;
   font-weight: 300;
   text-align: left;
   line-height: 16px;
   letter-spacing: 1px;
   padding-bottom: 20px;
   padding-top: 10px;
}
section p:nth-of-type(1){
   position: absolute;
   left: 250px;
}
section p:nth-of-type(2){
   position: absolute;
   left: 570px;
}
section p:nth-of-type(3){
   position: absolute;
   left: 810px;
}
footer{
   padding-top: 205px;
   text-align: center;
}
a {
   text-decoration: none;
    color: #dbdbdb;
}
a:hover {
    color: #222;;
}
@media screen and  (max-width:1279px){
   .container{
      width:600px;
      height: 800px;
      margin: auto;
   }
   header{
      height: 550px;
      margin-top: 0px;
   }
   header img{
      height: 500px;
   }
   nav{
      position: absolute;
      left:450px;
      top:5px;
   }
   nav ul li{
      padding-top: 10px;
      font-family: 'Anton',sans-serif;
      font-size: 14px;
      color: #dbdbdb;
      letter-spacing: 1px;
   }
   h1{
      position: absolute;
      top:490px;
      left: 50px;
   }
   section{
      width: 600px;
      height: 220px;
   }
   section p{
      display: inline-block;
      width:200px;
      font-size: 12px;
      padding-bottom: 0px;
   }
   section p:nth-of-type(1){
      position: absolute;
      left: 50px;
   }
   section p:nth-of-type(2){
      position: absolute;
      left: 250px;
   }
   section p:nth-of-type(3){
      position: absolute;
      left: 250px;
      top: 580px;
   }
   footer{
      padding-top: 0px;
      text-align: center;
   }
   @media screen and  (max-width:559px){
      .container{
            width: 480px;
            height: 640px;
      }
      header{
         height: 400px;
         margin-top: 0px;
      }
      header img{
         height: 400px;
      }
      nav{
         position: absolute;
         left:400px;
         top:5px;
      }
      nav ul li{
         padding-top: 10px;
         font-family: 'Anton',sans-serif;
         font-size: 14px;
         color: #dbdbdb;
         letter-spacing: 1px;
      }
      h1{
         position: absolute;
         top:340px;
         left: 25px;
      }
      section{
         width: 480px;
         height: 200px;
      }
      section p{
         display: inline-block;
         width:160px;
         font-size: 12px;
         padding-bottom: 0px;
      }
      section p:nth-of-type(1){
         position: absolute;
         left: 25px;
      }
      section p:nth-of-type(2){
         position: absolute;
         left: 220px;
      }
      section p:nth-of-type(3){
         position: absolute;
         left: 220px;
         top: 450px;
      }
      footer{
         padding-top: 0px;
         text-align: center;
      }
