@font-face {
    font-family: 'Roboto Mono'; monospace;
    font-style: normal;
    font-weight: 700;
    src: local('RobotoMono Bold'), local('RobotoMono-Bold'), url(../fonts/RobotoMono-Bold.ttf) format('truetype');
}
@font-face {
    font-family: 'Roboto Mono'; monospace;
    font-style: lighter;
    font-weight: 300;
    src: local('RobotoMono Light'), local('RobotoMono-Light'), url(../fonts/RobotoMono-Light.ttf) format('truetype');
}
@font-face {
    font-family: 'Roboto Mono'; monospace;
    font-style: normal;
    font-weight: 400;
    src: local('RobotoMono Regular'), local('RobotoMono-Regular'), url(../fonts/RobotoMono-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'Anton'; sans-serif;
    font-style: normal;
    font-weight: 400;
    src: local('Anton Regular'), local('Anton-Regular'), url(../fonts/Anton-Regular.ttf) format('truetype');
}
   body{
      color: #222;
      font-family: 'Roboto Mono', monospace;
      font-size: 14px;
      font-weight: 300;
      text-align: center;
      margin-top: 25px;
   }
header img{
   position: absolute;
   left: 0px;
   top: -25px;
   height: 250px;
}
h1{
   padding-top: 100px;
   padding-bottom: 100px;
   position:relative;
   opacity: .59;
   color: #222;
   font-family: 'Anton', sans-serif;
   font-size:72px;
   font-weight: normal;
}
h2{
   position:absolute;
   top:220px;
   left:550px;
   color: #222;
   font-family: 'Roboto Mono', monospace;
   font-weight: 300;
   font-size:34px;
   font-weight: 100;
   letter-spacing: 6px;
}
nav{
   position: absolute;
   right: 0px;
   text-align: right;
}
nav ul li{
   padding-top: 10px;
   font-family: 'Anton',sans-serif;
   font-size: 24px;
   color: #dbdbdb;
   letter-spacing: 3px;
}
#container{
   width: 1000px;
   margin: auto;
}
section img{
   object-fit: cover;
   height: 500px;
   width: 300px;
}
section p{
   padding-bottom: 50px;
}
section p span{
   padding-left: 15px;
   padding-right: 15px;
}
@media screen and  (max-width:1279px){
   .container{
      width:600px;
      margin: auto;
   }
   header{
      position: relative;
      height: 1450px;
      width: 600px;
   }
   header img{
      height: 150px;
   }
   h1{
      font-size:66px;
   }
   nav{
      position: absolute;
      left:450px;
      top:5px;
   }
   nav ul li{
      padding-top: 10px;
      font-family: 'Anton',sans-serif;
      font-size: 14px;
      color: #dbdbdb;
      letter-spacing: 1px;
   }
   #container{
      position: absolute;
      top:250px;
      left: 55px;
      width: 500px;
      text-align: center;
      margin:auto;
   }
   @media screen and  (max-width:779px){
      .container{
         width: 480px;
      }
      header{
         position: relative;
         width: 480px;
         text-align: center;
      }
      header img{
         height: 100px;
      }
      h1{
         font-size:66px;
      }
      nav{
         position: absolute;
         left:300px;
         top:3px;
      }
      nav ul li{
         padding-top: 10px;
         font-family: 'Anton',sans-serif;
         font-size: 14px;
         color: #dbdbdb;
         letter-spacing: 1px;
      }
      #container{
         position: absolute;
         top:200px;
         left: 55px;
         width: 350px;
         text-align: center;
         margin:auto;
      }
   }
