@font-face {
    font-family: 'Roboto Mono'; monospace;
    font-style: normal;
    font-weight: 700;
    src: local('RobotoMono Bold'), local('RobotoMono-Bold'), url(../fonts/RobotoMono-Bold.ttf) format('truetype');
}
@font-face {
    font-family: 'Roboto Mono'; monospace;
    font-style: lighter;
    font-weight: 300;
    src: local('RobotoMono Light'), local('RobotoMono-Light'), url(../fonts/RobotoMono-Light.ttf) format('truetype');
}
@font-face {
    font-family: 'Roboto Mono'; monospace;
    font-style: normal;
    font-weight: 400;
    src: local('RobotoMono Regular'), local('RobotoMono-Regular'), url(../fonts/RobotoMono-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'Anton'; sans-serif;
    font-style: normal;
    font-weight: 400;
    src: local('Anton Regular'), local('Anton-Regular'), url(../fonts/Anton-Regular.ttf) format('truetype');
}
body{
      background-color:white;
      color: #222
      font-family: 'Roboto Mono', monospace;
      font-size: 14px;
      font-weight:300;
      text-align: center;
      line-height: 16px;
      margin-top: 25px;
   }
header{
   height:700px;
   background-color: #aeaeae;
}
header img{
   position: absolute;
   left: 100px;
   height: 700px;
}
h1{
   position:relative;
   color: white;
   font-family: 'Anton', sans-serif;
   font-size:72px;
   font-weight: normal;
   top:-35px;
   left: -275px;
}
h2{
   position:absolute;
   top:220px;
   left:550px;
   color: #222;
   font-family: 'Roboto Mono', monospace;
   font-weight: 300;
   font-size:34px;
   font-weight: 100;
   letter-spacing: 6px;
}
nav{
   position: absolute;
   right: 0px;
   text-align: right;
}
nav ul li{
   padding-top: 10px;
   font-family: 'Anton',sans-serif;
   font-size: 24px;
   color: #dbdbdb;
   letter-spacing: 3px;
}
section p{
   display: inline-block;
   width:280px;
   font-family: 'Roboto Mono', monospace;;
   font-size: 14px;
   font-weight: 300;
   text-align: left;
   line-height: 16px;
   letter-spacing: 1px;
   padding-bottom: 20px;
}
section p:nth-of-type(1){
   position: absolute;
   left: 480px;
}
section p:nth-of-type(2){
   position: absolute;
   left: 800px;
}
section p:nth-of-type(3){
   position: absolute;
   left: 1120px;
}
footer{
   padding-top: 195px;
}
